html, body{
    margin: 0 !important;
	padding: 0 !important;
    width: 100%;
}

section {
	padding: 2em;
	display: flex;
	align-items: center;
}

h1 {
  text-align: center;
}

hr {
	border-color: #FFFFFF;
}

.feature {
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
}

.buy-button, .buy-button:active, .buy-button:focus {
  display: block;
  margin: 1em auto;
  height: 4em;
  line-height: 3em;
  background-color: #3fa435;
  border: 0;
  outline: none;
  width: 100%
}

#buy-button-bottom {
  max-width: 50%;
}

.buy-button:hover { 
    background-color: #A43434;
}

#author, #contact {
	background-color: #F4F4F4;
	padding: 2em 4em;
}

#joe-pic {
	border-radius: 50%;
	max-height: 16em;
}

.dictpic {
  display: block;
  margin: 1em auto;
  max-height: 30em;
}

#bottom-pic {
	max-height: 25em;
}

#top {
  color: white;
  background-color: #3475A4;
}

#buy {
  background-color: #FFFFFF;
}

form > .row {
  margin-left, margin-right: 0;
}

